body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.role-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.role-switch button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  background-color: #ddd;
  border: none;
  border-radius: 6px;
  cursor: pointer

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  table-layout: fixed;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
  word-wrap: break-word;
}

th:nth-child(1) { width: 100px; }   /* Req No */
th:nth-child(2) { width: 120px; }   /* Date */
th:nth-child(3) { width: 200px; }   /* Description */
th:nth-child(4) { width: 100px; }   /* Department */
th:nth-child(5) { width: 120px; }   /* Status */
th:nth-child(6) { width: 200px; }   /* Remarks */
